<!-- content -->
<div class="container">
  <div class="row">
    <!-- article start-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 article-full">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><%= post.title %></div>
        </div>
        <div class="article-source-full">
          <div class="text text-h5">by <%= post.author %></div>
          <div class='text text-h5'>@<%= source %></div>
          <a href='/posts/destroy/<%= post.id%>' class='star'><i class="far fa-trash-alt"></i></a>
          <a href='/posts/star/<%= post.id%>' class=<%= post.star ? 'star-on' : 'star' %>><i class="fas fa-star"></i></a>
        </div>
        <div class='text text-article full-text'>
          <%= post.text %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="article-footer-full">
        <div class="text text-h4">~ <%=(post.words/500)%> pages</div>
        <div class="text text-h4">published: <%= post.published.strftime("%d/%m/%Y")  %>, parsed: <%= post.created_at.strftime("%d/%m/%Y") %></div>
        <div class="text text-h4"><%= post.words %> words</div>
      </div>
    </div>
    <!-- article-end -->
