<!DOCTYPE html>
<html>
  <head>
    <!-- meta setup -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Newsletter</title>
    <!-- links -->
    <%= stylesheet 'main'%>
    <%= stylesheet 'reset', 'application' %>
    <!-- imports -->
    <%= stylesheet 'https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700&amp;subset=latin-ext' %>
    <%# <%= stylesheet 'https://rsms.me/inter/inter.css' %>
    <%= stylesheet 'https://use.fontawesome.com/releases/v5.7.0/css/all.css' %>
    <%= stylesheet 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
  </head>
  <body>
    <!-- header -->
    <div class='newsletter-head'>
      <div class='text text-h1 page-title' id='title'>The Newsletter</div>
      <div class='text text-h6' id='todayNow'></div>
    </div>
    <!-- content -->
    <%= yield %>
    <!-- float menu -->
    <div class="float-menu-button" id='float-menu-button'>
        <i class="fas fa-angle-left arrow-button"></i>
    </div>
    <div class="float-menu" id='float-menu'>
      <a href="#top" class='float-a'>
        <div class='button text text-p'>Up</div>
      </a>
      <a href="/" class='float-a'>
        <div class='button text text-p'>Home</div>
      </a>
      <a href="/posts/refresh" class='float-a'>
        <div class='button text text-p'>Refresh</div>
      </a>
      <a href="/sources" class='float-a'>
        <div class='button text text-p'>Sources</div>
      </a>
    </div>
    <!-- scripts -->
    <%# <%= javascript 'https://code.jquery.com/jquery-2.1.4.min.js', 'application' %>
    <%= javascript 'date' %>
    <%= javascript 'float' %>
    <%= javascript 'title' %>
    <script></script>
  </body>
</html>
